body{
    background-color: black;
}
.titulo-jedi {
    font-family: "Impact", "Arial Narrow", sans-serif;
    color: #eae3e3; /* Núcleo blanco para simular el centro de un sable láser */
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 1200;
    
    /* CAPAS DE BRILLO (De más cerca a más lejos) */
    text-shadow: 
        0 0 1px #e1dbdb,          /* Brillo interior blanco */
        0 0 50px #ff0000,      /* Brillo rojo suave */
        0 0 10px #ff0000,      /* Brillo rojo intenso */
        0 0 10px #ff0000,      /* Expansión de luz */
        0 0 20px #8b0000;      /* Resplandor ambiental lejano */
        
    transition: all 0.3s ease-in-out;
}

/* EFECTO CUANDO PASAS EL RATÓN (Pulsación de luz) */
.titulo-jedi:hover {
    color: #ffcccc; /* Se vuelve un poco más rosado/blanco al brillar más */
    text-shadow: 
        0 0 10px #fff, 
        0 0 25px #ff0000, 
        0 0 50px #ff0000, 
        0 0 100px #ff0000;
    transform: scale(1.02);
}


.titulo{
color: #c9b234;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  padding: 20px;
  /* El secreto está en acumular sombras de diferentes tamaños */
  text-shadow: 
    0 0 5px #fff, 
    0 0 10px #fff, 
    0 0 20px #007bff, /* Color del sable (Azul Jedi) */
    0 0 30px #007bff, 
    0 0 40px #007bff;
}
.nombre-detalle {
  color: #FFE81F; /* Amarillo Star Wars */
  font-family: 'Arial Black', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-shadow: 0 0 10px rgba(255, 232, 31, 0.7); /* Resplandor amarillo */
  padding: 10px;
  display: block;
}