body{
    background-color: black;
}
.titulo{
color: #c9b234;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  padding: 20px;
  /* El secreto está en acumular sombras de diferentes tamaños */
  text-shadow: 
    0 0 5px #fff, 
    0 0 10px #fff, 
    0 0 20px #007bff, /* Color del sable (Azul Jedi) */
    0 0 30px #007bff, 
    0 0 40px #007bff;
}
.nombre-detalle {
  color: #FFE81F; /* Amarillo Star Wars */
  font-family: 'Arial Black', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-shadow: 0 0 10px rgba(255, 232, 31, 0.7); /* Resplandor amarillo */
  padding: 10px;
  display: block;
}